/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

/* リストタイトルを改行する */
ul > li > p > strong,
ol > li > p > strong {
  display: block;
}

@media (max-width: 768px) {
  .two-cols {
    grid-template-columns: 1fr;
  }
}